$colorTitle: #22356F;
$textColor: #FFFFFF;
$dotsColor: #E9B730;
$pinkColor: #FFE2DE;
$greenColor: #C4E769;
$blueColor: #0052C1;
$lightBlueColor: #62D0DF;
$darkBlueColor: #22356F;
$grayColor: #DEE1FF;
$violetColor: #8F00FF;
$linkColor: #006DFF;


