@import '../../sass/abstracts/vars';
@import '../../sass/abstracts/mixins';
.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 755px) {
        min-height: 100vh;
        background-image: url(../../assets/image/statspage.png);
        background-size: cover;
        background-repeat: no-repeat;
        justify-content: flex-end;
     }
}
.contentBox {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: 1024px) {
        padding-left: 30px;
    }
    @media screen and (max-width: 821px) {
        padding: 0 20px;
    }
    @media screen and (max-width: 755px) {
        flex-grow: 0;
        border-radius: 30px;
        background-color: white;
        opacity: 90%;
        margin: 0 15px 15px 15px;
}
    .title {
        align-self: flex-start;
        @include fontRegular($darkBlueColor, 16px);
        margin: 100px 0 0 0;
        align-self: flex-start;
        @media screen and (max-width: 821px) {
            margin: 50px 0 0 0;
        }
        @media screen and (max-width: 755px) {
            margin: 20px 0 10px 0;
            font-size: 14px;
        }
    }
    .text {
        @include fontBold ($darkBlueColor, 36px);
        max-width: 690px;
        line-height: 45px;
        @media screen and (max-width: 755px) {
            line-height: 40px;
            font-size: 30px;
        }
    }
    .logo {
        color: $lightBlueColor;
    }
    .subtitle {
        align-self: flex-start;
        @include fontBold (#FAB63E, 16px);
        margin: 0 0 45px 0;
        align-self: flex-start;
        @media screen and (max-width: 755px) {
            margin: 20px 0px 10px 0;
            font-size: 14px;
        }
    }
}